.cancopied{
	border:1px solid #888;
	height: auto;
}

.toolcode{
	width: 100%;
	height: 22px;
	background: #f8f8f8;
}

.toolcode button{
	color: #498bbf;
	text-align: left;
	height: 100%;
	width: 153px;
	float: left;
	cursor: pointer;
	padding-top: 0px;
	margin-left: 5px;
	background: url(../images/copy2.png) no-repeat;
	background-position: 131px 1px;
	text-indent: 1px;
}

.copycode a{
	text-decoration: none;
}


.contentcode{
	padding: 10px;
	padding-top: 5px;
	height: auto;
	max-height: 350px;
	overflow: auto;
}

.container-content a span {
    color: initial;
}