/*********************************/
/* BARRA PRINCIPAL DE NAVEGACION */
/*********************************/
 #contenedorMenu{
       height: 38px;
	   background: #DEDEDE url(/images/fondo-menu-alumni.png) repeat-x 0 0;
       filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#FEFEFE', EndColorStr='#ECECEC'); 
	   height: 35px;
       width:1000px;
       border-top:1px solid #fff;
}
#contenedorMenu li{
	list-style: none;
	list-style-image:none;
}
.menuAjax{
	margin: 0; 
	padding: 0 0 0 10px;
	height: 38px;
	font-size:12px; 
	font-family:Arial, Helvetica, sans-serif;
	float:left;
}
.menuAjax li{
	display: block;  
	float: left; 
	margin: 0; 
	padding: 0;
}
.menuAjax li a{
    color: #006699;
    display: block;
    height: 25px;
    margin: 0;
    text-align: center;
    text-decoration: none;
    padding:10px 15px 0; 
	border:1px solid transparent;
	position:relative;
	z-index:1000;
}
.menuAjax li a:hover{
	background: url(/images/fondo-hover-item-alumni.png) repeat-x 0 -493px;
	
	color: #614b00;

}
/*********************************/
/* MENU DESPLEGABLE NIVEL 2 ---- */
/*********************************/
.menuNivel2{ /* Div dentro de lista en zona_menu.php */
	visibility:hidden; position:absolute; margin:-1px -2px -2px 0px; width:250px; border: 1px solid #416fb1; box-shadow:0px 0px 10px #666;
 z-index: 9000;}
.titleNivel2{ /* li que contiene el titulo en naranja */
	font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#F60;
	line-height:29px; text-align:left;
}
.descripcionNivel2{ /* span dentro de <a> que contiene la descripcion */
	font-weight:normal; color:#ccc;	
}
.menuAjax-nivel2{ /* ul  */
	margin: 0; padding: 0; position:relative; float:left; background:#FFF; width:220px; padding:8px; position:relative; z-index:100;
}
.menuAjax-nivel2 li{ /* Cada item del menu */
	display: block; list-style: none; float: none; margin: 0; padding: 0;
	background-color:#fff;
}
.menuAjax-nivel2 li a{ /* link de cada item del menu */
	margin:0px;
	height:auto;
	padding: 4px;
	text-align: left;
	text-decoration: none;
	background:none;
	color: #006699; /* #3a5c94 Azul arriba barra */
	width: auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px; 
}
.menuAjax-nivel2 li a:hover{
	background:none; 
	color: #fff;
	background-color: #006699; /* Azul arriba barra */
}





#headMenu{
	position:relative; float:right; top:10px;
	/*background:#1a609b;*/
}
#headMenu li{
	list-style: none;
	list-style-image:none;
}
.headMenuNivel1{
	margin: 0; 
	padding: 0;
	/*height: 38px;*/
	font-size:12px; 
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	float:right;
}
.headMenuNivel1 li{
	display: block;  
	float: left; 
	margin: 0; 
	padding: 0;
}
.headMenuNivel1 li a{
    color: #fff;
    display: block;
    height: 24px;
    margin: 0;
    text-align: center;
    text-decoration: none;
    padding:5px 6px 0 4px; 
	border:1px solid transparent;
	position:relative;
	z-index:1000;
}
#opt_mLnk{
	padding-right:5px;	
	padding-left:5px;	
}
#opt_mDiv img{
	position:relative;
	/*top:7px;*/	
}
#user_mLnk img, #user_mLnk span{
	float:left;
	position:relative;
}
#user_mLnk img{
	top:-1px;
	margin-right:5px;
}
#user_mLnk span{
	top:2px;
}
/*********************************/
/* MENU DESPLEGABLE NIVEL 2 ---- */
/*********************************/
.headMenuNivel2{ /* Div dentro de lista en zona_menu.php */
	visibility:hidden; position:absolute; margin:-1px -2px -2px 0px;  width:180px; border: 1px solid #416fb1; right: 2px; box-shadow:0px 0px 10px #666;
}
.titleNivel2{ /* li que contiene el titulo en naranja */
	font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#F60;
	line-height:29px; text-align:left;
}
.descripcionNivel2{ /* span dentro de <a> que contiene la descripcion */
	font-weight:normal; color:#ccc;	
}
.headMenu-nivel2{ /* ul  */
	margin: 0; padding: 0; position:relative; float:left; background:#FFF;  width:180px;  padding:8px; position:relative; z-index:10000;
}
.headMenu-nivel2 li{ /* Cada item del menu */
	display: block; list-style: none; float: none; margin: 0; padding: 0;
	background-color:#fff;
}
.headMenu-nivel2 li a{ /* link de cada item del menu */
	margin:0px; height:auto; padding: 4px; text-align: left;
	text-decoration: none; background:none; color: #006699; /* #3a5c94 Azul arriba barra */
	width: auto; font-family:Arial, Helvetica, sans-serif; font-size:12px; 
}
.headMenu-nivel2 li a:hover{
	background:none; color: #fff; background-color: #006699; /* Azul arriba barra */
}