.texto, .textoCorto, .botonEnviar
{
	border:#CCC solid 1px;
	color:#444;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	width:600px;
}
 
.textUsuarios
{ 
	width:200px;
}

.textoCorto 
{
	width:200px;
	font-family:Arial, Helvetica, sans-serif;  
}

.botonEnviar
{
	width:auto;
	padding:2px 4px;
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	border-color:#999;
}

.ok
{
	display:block;
	width:24px;
	padding:0px 4px;
	text-align:center;
	float:left;
}


.errorRespuesta
{ 
	display:block;
	width:24px;
	padding:0px 4px;
	text-align:center;
	float:left;
}

.error
{ 
	display:block;
	width:24px;
	padding:0px 4px;
	text-align:center;
	float:left;
}
.espacio{ display:block;  width:24px; padding:0px 4px 2px 4px; float:left;}
.nroPregunta {
	background: none repeat scroll 0 0 #EEEEEE;
    border-radius: 20px 20px 20px 20px;
    float: left;
    font-size: 20px;
    font-weight: bold;
    height: 27px;
    margin-bottom: 11px;
    margin-top: 5px;
    text-align: center;
    width: 27px;
}
.revision{ position:relative; z-index:200; margin-bottom:11px; border-bottom:solid 1px #eee; padding:4px 5px 9px; }
.revision input{position:relative; top:1px;}
.navegacion
 {
	background-color: rgba(1, 105, 178, 0.8);
	bottom: 0;
	height: 50px;
	padding: 10px 10px 7px;
	position: fixed;
	width: 100%;
	z-index: 100;
}
.recuadro
{
	font-size: 14px;
	border: 0 solid #CCCCCC;
	display: none;
	margin: 0;
	padding: 0 0 102px;
	position: relative;
}
.chk{position:relative; top:1px;}
.textInput{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:13px; color:#C00; cursor:pointer;}
 .itemRevision {
   background-position: 890px center;
   border-bottom: 1px dotted #CCCCCC;
   cursor: pointer;
   height: 35px;
   padding-top: 9px;
}
.itemRevision:hover{background:#FFC; }
.itemRevisionHeader{
font-size:14px; border-bottom:1px dotted #CCCCCC; background-color:#eee; padding:10px 0; font-weight:bold;
}
.espacioPregunta{ /*position:relative; padding:0 0 15px 0; height:348px; overflow:auto; border-bottom:1px solid #EEEEEE;*/ }

.centVert {
    min-height: 100%;
}
.flechaNavegacion{cursor:pointer; font-size: 18px; color: rgba(255,255,255,1);background-color: #62a9e6; padding: 3px 0px 3px 3px; margin: 0 10px;}
.flechaNavegacion:hover{background-color: #81c8ff;}
.flechaNavegacionDisabled {
    color: rgba(255,255,255,0.3);
    cursor: default;
}
.navegacion .icon-right-arrow {
    padding-left: 7px; padding-right: 5px;
}
.navegacion .icon-right-arrow .right{
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-bottom: 3px;
}

.navegacion .icon-angle-left .left{
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-bottom: 3px;
}
.navegacion .flechaNavegacionDisabled .left {
    border: solid rgba(255,255,255,0.3) !important;
    border-width: 0 3px 3px 0 !important;
}
.navegacion .icon-right-arrow:before, .navegacion .icon-angle-left:before {
    content: none !important; }

.botonNavegacion{cursor:pointer; font-size:18px; font-weight:bold;  float:right;}
.botonNavegacion:hover{cursor:pointer; font-size:18px; font-weight:bold; color:#369;}
.textoNavegacion{ font-size:16px; font-weight:bold; }


/* cuerpoResultado */
#cuerpoResultado{padding:10px;}


/* ADMIN */
.menu, .menu:link, .menu:visited {font-size:13px; font-weight:bold; color:#FFF; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; text-decoration:none;}
.menu:hover{color:#FFC;}
.lnkChico, .lnkChico:link, .lnkChico:visited {font-weight:bold; color:#5f85b8;  text-decoration:none; cursor:pointer;}
.lnkChico:hover{color:#4265a7;}


.point{	cursor:pointer;	}

pre {
	 overflow-x: auto; /* Use horizontal scroller if needed; for Firefox 2, not needed in Firefox 3 */
	 white-space: pre-wrap; /* css-3 */
	 white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	 white-space: -pre-wrap; /* Opera 4-6 */
	 white-space: -o-pre-wrap; /* Opera 7 */
	 word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.simulador_h1{ margin:0 0 20px 0; padding:0px; color:#F90; font-size:28px; font-family:Arial, Helvetica, sans-serif; }
.simulador_h2{ margin:0 0 5px 0; padding:0px; color:#F90; font-size:22px; font-family:Arial, Helvetica, sans-serif; }

#centrarPagina
{
	background-color: #FFFFFF;
	margin: auto;
}

#barraNombre{background:url(../images/menu-background.png); height:27px; color:#FFF; font-weight:bold; border-top:1px solid #748fba; padding-top:8px; padding-left:14px; }


.labelRespuestasRadio{
  border: 1px solid #FFFFFF;
   line-height: 16px;
   margin: 5px;
   padding: 5px;
   width: 100%;
}
.labelRespuestaTexto{
	width: 100%;
	padding:5px;
	margin:5px;
	line-height:25px;	
	border:solid 1px #fff;
}
.labelRespuestasRadio:hover{
	background:#FFC;
	border:solid 1px #FC6;
}
.inputRespuestasText{
	padding:5px;
	font-size:12px;
}
.inputRespuestaChk{
	position:relative;
	top:1px;	
}
.inputRespuestasText:focus{
	padding:5px;
	background:#FFC;
	border:solid 1px #FC6;
}
/**************************************/
/********* BOTONES NAVEGACION *********/
/**************************************/
button.clean-gray {
  background: #eee;
  background: -moz-linear-gradient(0% 100% 90deg, #bfbfbf, #eee);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#bfbfbf));
  border: 1px solid #ccc;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: inset 0 0 5px #f5f5f5;
  -moz-box-shadow: inset 0 0 5px #f5f5f5;
  -webkit-box-shadow: inset 0 0 5px #f5f5f5;
  color: #333;
  font-family: "lucida grande", sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  padding: 14px 0 15px;
  text-align: center;
  text-shadow: 0 1px 0px #eee;
  width: 150px;
}
button.clean-gray:hover {
  background: #dfdfdf;
  background: -moz-linear-gradient(0% 100% 90deg, #aaa, #dfdfdf);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dfdfdf), to(#aaa));
  box-shadow: inset 0 0 5px #e5e5e5;
  -moz-box-shadow: inset 0 0 5px #e5e5e5;
  -webkit-box-shadow: inset 0 0 5px #e5e5e5;
}
button.clean-gray:active {
  background: #bfbfbf;
  background: -moz-linear-gradient(0% 100% 90deg, #eee, #bfbfbf);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bfbfbf), to(#eee));
}



button.clean-green {
  background: #7fbf4d;
  background: -moz-linear-gradient(0% 100% 90deg,#63a62f, #7fbf4d);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7fbf4d), to(#63a62f));
  border: 1px solid #63a62f;
  border-width: 1px 1px 0 1px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  box-shadow: inset 0 1px 0 0 #96ca6d;
  -moz-box-shadow: inset 0 1px 0 0 #96ca6d;
  -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
  color: #fff;
  font-family: "lucida grande", sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  padding: 14px 0 15px;
  text-align: center;
  text-shadow: 0 -1px 0 #4c9021;
  width: 150px;
}
button.clean-green-grande {
	width:200px;
	font-size:18px;
	height:60px;
	padding-bottom:12px;
}
button.clean-green:hover {
  background: #5a962c;
  background: -moz-linear-gradient(0% 100% 90deg,#5a962c, #72ac45);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#72ac45), to(#5a962c));
}
button.clean-green:active {
  background: #7fbf4d;
  background: -moz-linear-gradient(0% 100% 90deg,#7fbf4d, #63a62f);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#63a62f), to(#7fbf4d));
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border-width: 0 1px 1px 1px;
}








.clean-gray {
  background: #eee;
  background: -moz-linear-gradient(0% 100% 90deg, #bfbfbf, #eee);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#bfbfbf));
  border: 1px solid #ccc;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: inset 0 0 5px #f5f5f5;
  -moz-box-shadow: inset 0 0 5px #f5f5f5;
  -webkit-box-shadow: inset 0 0 5px #f5f5f5;
  color: #333;
  font-family: "lucida grande", sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  padding: 8px 0;
  text-align: center;
  text-shadow: 0 1px 0px #eee;
  width: 150px;
}
.clean-gray:hover {
  background: #dfdfdf;
  background: -moz-linear-gradient(0% 100% 90deg, #aaa, #dfdfdf);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dfdfdf), to(#aaa));
  box-shadow: inset 0 0 5px #e5e5e5;
  -moz-box-shadow: inset 0 0 5px #e5e5e5;
  -webkit-box-shadow: inset 0 0 5px #e5e5e5;
}
.clean-gray:active {
  background: #bfbfbf;
  background: -moz-linear-gradient(0% 100% 90deg, #eee, #bfbfbf);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bfbfbf), to(#eee));
}



.clean-green {
  background: #7fbf4d;
  background: -moz-linear-gradient(0% 100% 90deg,#63a62f, #7fbf4d);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7fbf4d), to(#63a62f));
  border: 1px solid #63a62f;
  border-width: 1px 1px 0 1px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  box-shadow: inset 0 1px 0 0 #96ca6d;
  -moz-box-shadow: inset 0 1px 0 0 #96ca6d;
  -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
  color: #fff;
  font-family: "lucida grande", sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  padding: 8px 0 9px 0;
  text-align: center;
  text-shadow: 0 -1px 0 #4c9021;
  width: 150px;
}
.clean-green-grande {
	width:200px;
	font-size:18px;
	height:60px;
	padding-bottom:12px;
}
.clean-green:hover {
  background: #5a962c;
  background: -moz-linear-gradient(0% 100% 90deg,#5a962c, #72ac45);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#72ac45), to(#5a962c));
}
.clean-green:active {
  background: #7fbf4d;
  background: -moz-linear-gradient(0% 100% 90deg,#7fbf4d, #63a62f);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#63a62f), to(#7fbf4d));
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border-width: 0 1px 1px 1px;
}