/* Tiny Scrollbar */
#scrollbar1 { margin: 90px 0 10px; }
#scrollbar1 .viewport { width: 235px; height: 350px; overflow: hidden; position: relative; }
#scrollbar1 .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; }
#scrollbar1 .scrollbar{ background: transparent url(/images/bg-scrollbar-track-y.png) no-repeat 0 0; position: relative; background-position: 0 0; float: right; width: 11px; }
#scrollbar1 .track { background: transparent url(/images/bg-scrollbar-trackend-y.png) no-repeat 0 100%; height: 100%; width:6px; position: relative; padding: 0px 1px; }
#scrollbar1 .thumb { background: transparent url(/images/bg-scrollbar-thumb-y.png) no-repeat 50% 100%; height: 20px; width: 18px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
#scrollbar1 .thumb .end { background: transparent url(/images/img/bg-scrollbar-thumb-y.png) no-repeat 50% 0; overflow: hidden; height: 20px; width: 18px; }
#scrollbar1 .disable { display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }
 #scrollbar1{
	background-color:#eee; overflow:auto; width: 275px; padding:10px 5px 10px 15px; border-radius: 0 0 10px;
}
#scrollbar1 div a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
}
.indiceDiv{
	background:url(/images/indice.png) 278px center no-repeat #EEE;	
}

.indiceTit1 a{
	font-weight:bold;	
	color:#333 !important;
}

.indiceTit2 a{
	font-weight:normal;
	margin-left:20px;
	color:#333 !important;
}
.indiceTit3 a{
	font-weight:normal;
	margin-left:40px;	
	color:#333 !important;
}
.indiceTit2 a:before{
	content: "- ";
}
.indiceTit3 a:before{
	content: "- ";
}